services:
  - type: web
    name: recipe-app-server
    env: node
    rootDir: server
    buildCommand: npm install && npm run build
    startCommand: npm run start:prod
    envVars:
      - key: NODE_ENV
        value: production
